* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* FOOTER */
footer {
    background-color: black;
    color: rgb(90, 97, 103);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: cornsilk;
    border: 10px white fixed;
}